.addPostPic {
    width: 35px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}

.addPost {
    width: 95%;
    border-radius: 20px;
    height: 180px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0px 0px 9px 14px rgba(0,0,0,0.1);
}

.addPostContainer {
    padding: 15px;
}

.addPostTop {
    display: flex;
    align-items: center;
}

.addPostInput {
    border: none;
    width: 80%;
    margin-left: 10px;
}

.addPostInput:focus{
    outline: none;
}

.addPostHr {
    margin : 7px;
}

.addPostBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addPostOptions {
    display: flex;
    margin-left: 40px;
}

.addPostOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
}

.postButton {
    border: none;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    background-color: rgb(72, 14, 207);
    color: white;
    margin-top: 60px;
    margin-left: 20px;
}

.addPostOptionText {
    margin-left: 3px;
}