.postImage {
    width: 35px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    margin-left: 20px;
}

.postTop {
    margin-top: 15px;
    display: flex;
    align-items: center;


}



.postUserName {
    font-size: 15px;
    font-weight: 500;
    margin-left: 8px;
    margin-top: 17px;
    
}

.postCenter{
    margin-left: 20px;
    margin-top: 10px;
}

.post {
    font-family: sans-serif;
    box-shadow: 0px 0px 9px 14px rgba(0,0,0,0.1);
    margin: 30px 0;
    margin-left: 10px;
    border-radius: 10px;
    width: 95%;

}

.postTime {
    font-size: 10px;
    margin-top: 18px;
    margin-left: 15px;

}

.postedImage {
    width: 95%;
    background-size: cover;
    margin-left: 5px;
    margin-top: 5px;
}

.postBottom {
    width: 98%;
    display: flex;
    align-items: center;
    margin-left: 18px;
    justify-content: space-between;
    margin-top: 7px;
}

.reactionPic {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    cursor: pointer;
}

.postBottomLeft {
    display: flex;
}

.likeCount {
    margin-left: 5px;
    margin-top: 3px;
    font-size: 15px;
    cursor: pointer;
}

.commentCount {
    margin-right: 19px;
    cursor: pointer;
}

.postCaption {
    margin-left: 8px;
    
}

